.Document {
    width: 100%;
    padding: 1em 8px;
    height: 100vh;
    margin-bottom: 2em;
    display: block;
}


/* Display the element at the end using flex */

.PageSeparator {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
}